.subcontent {
  top: 52px;
  left: 0;

  li {
    position: relative;

    &::after {
      display: block;
      height: 1px;
      position: absolute;
      bottom: 0;
      content: "";
      transition: 0.3s;
      width: 0;

      @apply bg-black;
    }

    &:hover {
      &::after {
        width: 60%;
      }
    }
  }
}

.description {
  &::before {
    content: "";
    height: 40px;
    display: block;
    width: 1px;
    margin-bottom: 5px;

    @apply bg-black;
  }
}
